.logo-container {
    display: flex;
    align-items: stretch;
}

.event-logo {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.event-table {
    height: 100%;
}
.event-table th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}
